body{
    margin: 0%;
    background-color: lightblue;
    text-align: center;
}

h1{
    padding: 0%;
    margin:0%;
    border: 0cap;
    background-color: aquamarine;
    
}
#s1{
    color: blue;
}